#login {
  background-image: url('/7169130178_7f902f2d55_b.jpg');
  /* opacity: '0.5 ' !important; */
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.navbar {
  display: flow-root;
  text-align-last: right;
}
