#border {
  background-color: black;
}

.list-group-item,
.card {
  border-color: black;
}

.list-group-item {
  background-color: grey;
  font-size: 16px;
  font-family: 'Cousine', monospace;
}

a {
  color: black;
}

a:hover {
  color: blue;
  text-decoration: none;
}

#mainCard {
  font-family: 'Cousine', monospace;
}

#myClients {
  font-family: 'Happy Monkey', cursive;
}
